@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

::-webkit-scrollbar {
    width: 4px;
    height: 1px;
  }

::-webkit-scrollbar-track {
    border-radius: 100vh;
}

::-webkit-scrollbar-thumb {
    background: #161d2f;
    border: 1px solid #161d2f;
}

body{
	font-family: 'Poppins', sans-serif;
}
